body {
    font-size: 20pt;
    margin-left: 100;
	font-family: Comic Sans MS;
}
li {
    margin: 30px 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
table {
	font-size: 30;
	border: 2px solid black;
	border-collapse: collapse;
}
td {
	border: 2px solid black;
	padding: 7px;
}
th {
	border: 2px solid black;
	padding: 7px;
}
tr {
	text-align: center;
}
.pur {
    color: blueviolet;
}
.bl {
    color: blue;
}
.variable {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.operation {
    color:rgb(205, 43, 226);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.listing {
	border-radius: 5px;
	border: 1px solid rgb(118, 118, 118);
	font-size: 30pt;
	font-family:'Courier New', Courier, monospace;
    display:inline-block;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 30px;
}
.code {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 300;
}
.bigTable {
    font-size: 15pt;
}
caption {
    font-size: 20pt;
    border: solid black 2px;
}
table ul {
    text-align: left;
}
img {
    border-radius: 10px;
    border: solid 1px black;
}