:root {
    --standart-duration: 0.5s;
}

.button {
    transition: all var(--standart-duration) ease;
    width: fit-content;
    cursor: pointer;
    overflow: hidden;
    transform-origin: left top;
}

.button.__disabled {
    cursor: default;
}
.button-bird {
    position: relative;
    width: 30px;
    height: 12px;
}
.button-bird::before {
    content: "";
    height: 2px;
    width: 50%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1px;
    transform-origin: right bottom;
    transform: rotateZ(45deg);
}
.button-bird::after {
    content: "";
    height: 2px;
    width: 50%;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1px;
    transform-origin: left bottom;
    transform: rotateZ(-45deg);
}
.button-bird-container {
    transition: all 0.3s ease;
    transform-origin: center center;
    width: fit-content;
    height: fit-content;
    margin-left: 5px;
    /* background-color: red; */
}
.button-bird-container.__opened {
    transform: rotateZ(180deg);
}

.button1 {
    padding: 20px;
    color: white;
    font-size: 20pt;
    background-color: black;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}
.button1:hover {
    color: black;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.button2 {
    padding: 10px;
    color: black;
    font-size: 16pt;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
}
.button2:hover {
    color: white;
    background-color: black;
}

.buttonS {
    padding: 5px;
    color: white;
    font-size: 16pt;
    background-color: black;
    border-radius: 10px;
    border: 1px solid black;
}
.buttonS:hover {
    color: black;
    background-color: white;
    letter-spacing: 2px;
}
.buttonUp {
    padding: 15px;
    color: white;
    font-size: 16pt;
    background-color: black;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}
.buttonUp:hover {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
.buttonUp-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
}
.buttonUp.__disabled {
    background-color: black;
}
.buttonUp.__disabled:hover {
    color: white;
}

.buttonSpoiler {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14pt;
    color: black;
}
.buttonSpoiler:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.buttonBigSpoiler {
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}
.buttonBigSpoiler:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.buttonBigSpoiler-bird {
    transform: scale(2);
    margin-left: 15px;
}
.buttonBigSpoiler-bird.__opened {
    transform: scale(2) rotateZ(180deg);
}
