.about-photo > img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* margin-right: 10px; */
}
.about-photo {
    display: flex;
    justify-content: center;
}
.about-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
@media (max-width: 700px) {
    .about-info-container {
        flex-direction: column;
    }
}
.about-name {
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    margin-bottom: 30px;
}
.about-info > table {
    font-size: 16pt;
}
@media (max-width: 400px) {
    .about-info > table {
        font-size: 12pt;
    }
}
.about-info > table > tbody > tr > td {
    padding-top: 20px;
}
.about-paragraps-container p {
    margin-bottom: 10px;
    text-indent: 25px;
    text-align: justify;
}
.about-paragraps-container iframe {
    width: 90%;
    height: 315px;
    object-fit: cover;
    max-width: 560px;
}
@media (max-width: 300px) {
    .about-paragraps-container iframe {
        height: auto;
    }
}
@media (max-width: 450px) {
    .about-paragraps-container iframe {
        height: 200px;
    }
}
.about-paragraps-container li {
    margin-bottom: 15px;
    text-align: justify;
}