body {
    margin-left: 100px;
    margin-top: 20px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    margin: 0px;
}
ol {
    margin: 0px;
}
li {
    width: fit-content;
    margin-top: 10px;
}
table {
    border-radius: 10px;
	border-collapse: collapse;
    background-color: #8c71fe;
    color: white;
}
td {
	padding: 7px;
    border: solid 1px white;
}
th {
    border: solid 1px white;
	padding: 7px;
}
tr {
	text-align: center;
}
.indexPageList {
    margin-top: 50px;
}
.indexPageList li h1 {
    background-color: #8c71fe;
    color: white;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.indexPageList li h1:hover {
    background-color: #8165ff;
}
.indexPageList li h2 {
    background-color: #8c71fe;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.indexPageList li h2:hover {
    background-color: #8165ff;
}
.list li {
    background-color: white;
    color: #8c71fe;
    border: solid 1px #8c71fe;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18pt;
}
.list li:hover {
    background-color: #f5f3ff;
}
.frame {
    background-color: #f4f2ff;
    /* background-color: #dbd5ff; */
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    display: block;
    overflow: hidden;
    margin-top: 20px;
}
.frame div {
    margin-top: 15px;
}
.main-menu {
    background-color: #8c71fe;
    color: white;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.main-menu:hover {
    background-color: #7f63ff;
}
.sub-menu {
    background-color: white;
    color: #8c71fe;
    border: solid 1px #8c71fe;
    width: fit-content;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12pt;
    margin: 5px;
}
.timer {
    font-size: 25pt;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
}
.param-task {
    padding: 10px;
    padding-top: 1px;
    background-color: #eae6ff;
    border-radius: 10px;
    width: fit-content;
}
.flex {
    display: flex;
}
.line {
    border: 2px solid #e3ddff;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}