* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-align: justify;
}
.main-list>li {
    margin-bottom: 10px;
}
.main-sublist>li {
    margin-bottom: 5px;
}
#root {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.1); */
    height: fit-content;
    min-height: 100%;
    padding: 5px;
    padding-bottom: 200px;
    overflow-x: hidden;
}
body {
    font-size: 18pt;
    width: 100%;
    overflow-x: hidden;
}
.content-container {
    margin: 0 10%;
    max-width: 100%;
}
.content {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
}
.content:after {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 1px;
    background-color: black;
    z-index: 10;
    content: "";
}
.content-list>li {
    margin-top: 5px;
}
.block-children {
    margin-top: 30px;
}
.block {
    margin-top: 50px;
}
/* @media (max-width: 400px) {
    .block {
        font-size: smaller;
    }
} */
.props-table {
    border-collapse: collapse;
    font-size: 20pt;
}
.props-table > tbody > tr {
    border: 1px solid black;
}
.props-table > tbody > tr > td {
    padding: 15px;
    width: fit-content;
}
.props-table-number {
    border-right: 1px solid black;
}
.props-table-left {
    text-align: right;
}
.props-tbody-m {
    display: none;
}
.props-tbody-pc {
    display: block;
}
.props-table-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.props-table-column > div {
    margin-top: 5px;
    margin-bottom: 5px;
}
td.__know, td.__add, td.__always, td.__info {
    border-left: 1px solid black;
}
.__know:before {
    content: "Должно быть известно ";
}
.__know:after, .__always:after, .__add:after {
    content: ".";
}
.__add:before {
    content: "Дописать в систему ";
}
.__always:before {
    content: "Работает всегда";
}
.horner-table {
    font-size: 16pt;
    border-collapse: collapse;
    border: 1px solid black;
}
.horner-table td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    text-align: center;
    min-width: calc(10px + 1em);
}
.horner-table tr.border {
    border: 1px solid black;
}
.horner-table {
    margin-top: 20px;
    margin-bottom: 20px;
}
.rotated {
    transform: rotateZ(90deg);
}
.long-container {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
}
.center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex-align {
    align-items: center;
}
li {
    margin-bottom: 10px;
}
li:last-child {
    margin-bottom: 0px;
}
.def-list > li {
    margin-top: 25px;
}
.def-list > li::marker {
    font-weight: bold;
}
.angle-table {
    font-size: 20pt;
    border-collapse: collapse;
}
.angle-table > tbody > tr > td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.equivalents-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.equivalents-arrow {
    margin: 20px;
}
.frame {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.frame-border {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.equivalents-vertical-mobile {
    display: flex;
    align-items: center;
}
.trigonometry-circle::before {
    content: "Тригонометрическая ";
}
.equivalents-content-container {
    display: flex;
    flex-direction: row;
}
.pc-mini-math {
    font-size: 12pt;
    width: fit-content;
}
.pc-math {
    font-size: 16pt;
    width: fit-content;
}
.pc-micro-math {
    font-size: 8pt;
    width: fit-content;
}
.props-tbody-pc.__hidden {
    display: none;
}
.props-tbody-m.__view {
    display: block;
}
.pc-row-m-col {
    display: flex;
    flex-direction: row;
}
.equivalents-dot-marker, .params-dot-market, .dot-list {
    list-style-type: disc;
}
.margin-left {
    margin-left: 20px;
}
.margin-top {
    margin-top: 20px;
}
.params-task > .center, .params p, .oxy p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.params h3, .params .block li {
    margin-top: 20px;
    margin-bottom: 20px;
}
.flex-mobile {
    display: flex;
    flex-direction: row;
}
.params-change-table {
    border-collapse: collapse;
    font-size: 16pt;
    margin-left: 20px;
}
.params-change-table td, .params-change-table th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}